@import './variable';

.page-black{
  background-color: $primary;
  max-height: 100%;
}

*{
 color: $secondary;
 font-family: "Savoye LET Plain";
}

.nav-border{
  border-bottom-color: $secondary;
  border-bottom-width: 2;
}